<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G-Review Getter</title>
</head>

<style>
    *{
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    body{
        margin-left: 3%;
        margin-top: 3%;
        margin-right: 3%;
    }

    h1{
        font-size: 48px;
    }

    hr{
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .top{

    }

    .middle{

    }

    footer {
        bottom: 5px;
        position: fixed;
    }

    form{
        position: fixed;
        right: 3%;
        bottom: 0px;
    }
  
</style>

<body>
    <section class="top">
        <h1>Google Review GETter<hr>An Overview & Documentation</h1>
    </section>
    <section class="middle">

    </section>
    
</body>

<footer>
    <p>Developed by Bryce Blankinship. Support me by donating &#128512;</p>
    <form class="paypalbtn" action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="9BV6SRKGQRP6L" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"/>
        <img alt="" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
    </form>
</footer>

</html>